{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="row">
            <div class="col-xs-2">
            </div>

            <div class="col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            Pe unde umbli?
                        </h3>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-2">
                            </div>

                            <div class="col-xs-9">
                                <h3> Doar admini au acces pe aceasta pagina! </h3>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}