{% extends "base.html" %}
{% block content %}
	<div class="container">
		{% set counter = 0 %}
		{% for product in products.items %}
			{% if counter % 2 == 0 %}
				<div class="row">
					<!-- filler div -->
					<div class="col-xs-1"></div>
			{% endif %}
			
					<div class="col-xs-4">	
						{% include "product_template.html" %}
					</div>
			{% if counter % 2 != 0 %}
				</div>
			{% endif %}
			{% set counter = counter + 1 %}
		{% endfor %}
		
		<script type="text/javascript">
			$(document).ready(function() {
				$(".add_to_cart").click(function(event) {
					var id = $(event.target).closest("div").attr("id");
					$.post("{{ url_for('addToCart') }}", {
						productId: id,
					}).done(function(data) {
						alert("Produsul a fost adaugat cu success")
					});				
				});
			});
		</script>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-2">
				<!--filler-->
			</div>
			<div class="col-xs-6">
				<nav>
					<ul class="pager">
						{% if page_number > 1 %}
							<li class="previous">
								<a href="{{ url_for('categories',
								                    category=category,
								                    page=page_number - 1) }}">
									<span aria-hidden="true">
										&larr;
									</span>
									Older
								</a>
							</li>
						{% else %}
							<li class="previous disabled">
								<a href="#">
									<span aria-hidden="true">
										&larr;
									</span>
									Older
								</a>
							</li>
						{% endif %}

						{% if page_number < max_pages %}
							<li class="next">
								<a href="{{ url_for('categories',
								                    category=category,
								                    page=page_number + 1) }}">
									Newer
									<span aria-hidden="true">
										&rarr;
									</span>
								</a>
							</li>
						{% else %}
							<li class="next disabled">
								<a href="#">
									Newer
									<span aria-hidden="true">
										&rarr;
									</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			</div>

		</div>
	</div>
{% endblock %}
