{% extends "base.html" %}
{% block content %}
	<div class="conatiner">
		{% for product in products.items %}
			{% include "product_template.html" %}
		{% endfor %}
		<script type="text/javascript">
			$(document).ready(function() {
				$(".add_to_cart").click(function(event) {
					var id = $(event.target).closest("div").attr("id");
					var price = $(event.target).closest("tr").
						find(".product_price").text();
					$.post("{{ url_for('addToCart') }}", {
						productId: id,
						productPrice: price
					}).done(function(data) {
						alert(data.status)
					});				
				});
			});
		</script>
	</div>
{% endblock %}
