{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-xs-2">
            <!--filler-->
        </div>
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="glyphicon glyphicon-ok"></span>
                        L-am sters!
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2">
                            <!--filler-->
                        </div>
                        <div class="col-xs-8">
                            <h4> Produsul a fost sters cu succes! </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}