{% extends "base.html" %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-xs-3">
						<div id="carousel-example-generic" class="carousel slide" 
							data-ride="carousel">
							<ol class="carousel-indicators">
								{% set counter = 0 %}
								{% for picture in product.pictures %}
									{% if counter == 0 %}
										<li data-target="#carousel-generic active"
											data-slide-to="{{ counter }}">
										</li>
									{% else %}
										<li data-target="#carousel-example-generic" 
											data-slide-to="{{ counter}}">
										</li>
									{% endif %}
									{% set counter = counter + 1 %}
								{% endfor %}
							</ol>
							<div class="carousel-inner">
								{% set counter = 0 %}
								{% for picture in product.pictures %}
									{% if counter == 0 %}
										<div class="item active">
									{% else %}
										<div class="item">
									{% endif %}
											<center>
											<img src="{{ picture.link }}" 
												width="150"	height="150">
											</center>
										</div>
									{% set counter = counter + 1 %}
								{% endfor %}
							</div>

							<a class="left carousel-control" 
								href="#carousel-example-generic" 
								role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left">
								</span>
							</a>
							<a class="right carousel-control" 
								href="#carousel-example-generic" role="button" 
								data-slide="next">
								<span class="glyphicon glyphicon-chevron-right">
								</span>
							</a>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="row">
							<div class="col-xs-3">
								<h3>
									<strong> {{ product.name }} </strong>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<p> {{ product.description }} </p>
								<p> <strong> {{ product.price }} lei</strong> </p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								<button type="button" class="btn btn-success btn-md
								add_to_cart">
									Adauga
								<span
										class="glyphicon glyphicon-shopping-cart">
								</span>
								</button>
							</div>
							{% if g.user.is_authenticated() and g.user.is_admin() %}
								<div class="col-xs-3">
									<button type="button" class="btn btn-danger btn-md"
											id="delete_product">
										Sterge
									</button>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					Specificatiile produsului
				</div>
				<div class="panel-body">
					{% set counter = 0 %}
					{% for specification in product.specifications %}
						{% if counter % 2 == 0 %}
							<div class="row">
						{% endif %}
							<div class="col-xs-4">
								<h5> 
									{{ specification.name }}: 
									{{ specification.data }} 
								</h5>
							</div>
						{% if counter % 2 != 0 %}
							</div>
						{% endif %}
						{% set counter = counter + 1 %}
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					Comentarii 
				</div>
				<div class="panel-body">
					Niciun comentariu momentan
				</div>
			</div>
		</div>
	</div>
	{% if g.user.is_authenticated() and  g.user.is_admin()%}
		<div class="modal fade" id="delete_product_dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-2">
								<!--filler-->
							</div>
							<div class="col-xs-8">
								<h4>
									Esti sigur ca vrei sa stergi produsul {{ product.name }}?
								</h4>
								<hr/>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-2">
								<!--filler-->
							</div>
							<div class="col-xs-5">
								<button type="button" class="btn btn-danger btn-md" id="yes_delete">
									Delete the product
								</button>
							</div>
							<div class="col-xs-5">
								<button type="button" class="btn btn-info btn-md" id="no_delete">
									Don't delete it
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			// It is easier to retrieve product data saving them in a js object.
			var productData = {
				id: {{ product.id }},
				// To this page will be redirected the user after the product is deleted
				redirectPage: "{{ url_for('product_deleted_successfully') }}"
			};
		</script>

		<script type="text/javascript" src="{{ url_for('static', filename='js/product_page_admin.js') }}"></script>
	{% endif %}
</div>
{% endblock %}