{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-xs-2">
        <!-- filler -->
    </div>

    <div class="col-xs-8">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3>
                    <span class="glyphicon glyphicon-user"></span>
                    Pagina utilizatorului
                </h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-1">
                        <!-- filler -->
                    </div>

                    <div class="col-xs-2">
                        <h4> Name: </h4>
                    </div>
                    <div class="col-xs-4">
                        <h4> {{ user.name }} </h4>
                    </div>
                    {% if g.user.id == user.id %}
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary btn-sm" id="change_name">
                                change
                            </button>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-xs-1">
                        <!-- filler -->
                    </div>

                    <div class="col-xs-2">
                        <h4> Email: </h4>
                    </div>
                    <div class="col-xs-4">
                        <h4> {{ user.email }} </h4>
                    </div>

                    {% if g.user.id == user.id %}
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary btn-sm" id="change_email">
                                change
                            </button>
                        </div>
                    {% endif %}
                </div>

                {% if g.user.id == user.id %}
                    <div class="row">
                        <div class="col-xs-1">
                            <!-- filler -->
                        </div>
                        <div class="col-xs-2">
                            <h4> Password: </h4>
                        </div>
                        <div class="col-xs-4">
                            <h4> ******* </h4>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary btn-sm" id="change_password">
                                change
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <!--filler-->
                        </div>
                        <div class="col-xs-2">
                            <h4> Produse Cumparate: </h4>
                        </div>
                        <div class="col-xs-4">
                            <!--filler-->
                        </div>
                        <div class="col-xs-2">
                            <a href="{{ url_for('bought_products', username=g.user.username) }}"
                                    class="btn btn-primary btn-sm" >
                                View
                            </a>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-xs-1">
                        <!-- filler -->
                    </div>
                    <div class="col-xs-2">
                        <h4> Username: </h4>
                    </div>
                    <div class="col-xs-4">
                        <h4> {{ user.username }} </h4>
                    </div>
                </div>

                {% if g.user.is_admin() and g.user.id != user.id %}
                    <!--an admin can't ban himself-->
                    <div class="row">
                        <div class="col-xs-3">
                            <!--filler-->
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-danger btn-lg" id="ban_user">
                                Ban the user
                            </button>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="modal fade" id="change_name_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <h4> New name </h4>
                        </div>
                        <div class="col-xs-4">
                            <input type="text" placeholder="new name" class="form-control" id="new_name" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="done_changing_name">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="change_email_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <h4> New email </h4>
                        </div>
                        <div class="col-xs-4">
                            <input type="text" placeholder="new email" class="form-control" id="new_email" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="done_changing_email">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="change_password_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <h4> Current password </h4>
                        </div>
                        <div class="col-xs-4">
                            <input type="password"  class="form-control" id="current_password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <h4> New password </h4>
                        </div>
                        <div class="col-xs-4">
                            <!-- you should be able to add the new password only if you have typed correctley
                              the curent password -->
                            <input type="password" class="form-control" id="new_password" disabled/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <h4> New </h4>
                        </div>
                        <div class="col-xs-4">
                            <input type="password" class="form-control" id="repeat_new_password" disabled/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="done_changing_password">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="check_password_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <h4> Current password </h4>
                        </div>
                        <div class="col-xs-4">
                            <input type="password" class="form-control" id="check_current_password" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="done_checking_password">
                        Check
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

{% if g.user.is_admin() and g.user.id == user.id %}
    <div class="row">
        <div class="col-xs-2">
            <!-- Filler -->
        </div>

        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Panoul administratorilor
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-1">
                             <!--filler -->
                        </div>
                        <div class="col-xs-3">
                            <h4> Adauga produse: </h4>
                        </div>
                        <div class="col-xs-4">
                            <a href="{{ url_for('addNewProduct') }}" class="btn btn-success btn-md">
                                Adauga
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <!--filler-->
                        </div>
                        <div class="col-xs-3">
                            <h4> Metode de transport </h4>
                        </div>
                        <div class="col-xs-4">
                            <a href="{{ url_for('add_shipping_method') }}" class="btn btn-success btn-md">
                                Adauga
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

    {% if g.user.id == user.id%}
        <script type="text/javascript" src="{{ url_for('static', filename='js/user_page.js') }}" ></script>
    {% endif %}

    {% if g.user.is_admin() and not user.is_admin() and g.user.id != user.id %}
        <!--and user can ban other users but not other admins-->
        <script>
            // config vars
            var username = "{{ user.username }}";
            var admin = "{{ g.user.username }}";
        </script>
        <script src="{{ url_for('static', filename='js/ban_user.js') }}" ></script>
    {% endif %}

{% endblock %}