{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-xs-2">
            <!--filler-->
        </div>
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="glyphicon glyphicon-ok"></span>
                        Success
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2">
                            <!--filler-->
                        </div>
                        <div class="col-xs-8">
                            <h4>
                                Utilizatorul a fost sters cu success. Contul acestuia
                                nu va mai putea accesat. Odata sters un cont, nu mai
                                exista nicio modalitate de a-l recupera.
                                <br>
                                Utilizatorul va primi un email ce il va instiinta despre
                                decizia dumneavoastra.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}