<div class="modal fade" id="change_password_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-4">
                        <h4> Current password </h4>
                    </div>
                    <div class="col-xs-4">
                        <input type="password"  class="form-control" id="current_password" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <h4> New password </h4>
                    </div>
                    <div class="col-xs-4">
                        <!-- you should be able to add the new password only if you have typed correctley
                          the curent password -->
                        <input type="password" class="form-control" id="new_password" disabled/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <h4> New </h4>
                    </div>
                    <div class="col-xs-4">
                        <input type="password" class="form-control" id="repeat_new_password" disabled/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="done_changing_password">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>