<div class="modal fade" id="delete_product_dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-2">
                        <!--filler-->
                    </div>
                    <div class="col-xs-8">
                        <h4>
                            Esti sigur ca vrei sa stergi produsul {{ product.name }}?
                        </h4>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <!--filler-->
                    </div>
                    <div class="col-xs-5">
                        <button type="button" class="btn btn-danger btn-md" id="yes_delete">
                            Delete the product
                        </button>
                    </div>
                    <div class="col-xs-5">
                        <button type="button" class="btn btn-info btn-md" id="no_delete">
                            Don't delete it
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>