<div class="modal fade" id="edit_images_dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> Editeaza imagini </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div id="previewPanel" style="overflow-y:auto; height: 300px; overflow-x:hidden;">
                            <div id="imageCollection" >
                            </div>
                            <div id="imageCollectionControl">
                                <div class="row">
                                    <div class="col-xs-4"></div>
                                    <div class="col-xs-4">
                                        <button type="button" class="btn btn-default btn-sm" id="addImage">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                    <div class="col-xs-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div id="main">
                            <div id="mainImage">

                            </div>
                            <br>
                            <div id="imageControls">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <button type="button" class="btn btn-primary btn-md" id="editImage">
                                            <span class="glyphicon glyphicon-picture"></span>
                                            Modifica
                                        </button>
                                    </div>
                                    <div class="col-xs-4">
                                        <!--filler-->
                                    </div>
                                    <div class="col-xs-4">
                                        <button type="button" class="btn btn-danger btn-md" id="removeImage">
                                            <span class="glyphicon glyphicon-remove"></span>
                                            Sterge
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" id="finish_editing_images">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>